
<head>
</head>
<body>

<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
  
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
     
      <ul  class="nav navbar-nav navbar-right">


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


      




<div style="width:600px;"class="container">
{% block content %}

 <form  class="form-signin" role="form" method="post">{% csrf_token %} 
     
         <h3 class="form-signin-heading">Enter New Password</h3>

           <input type="password" placeholder="New Password" value = "" id ="password1" name="password1"class="form-control" pattern=".{6,}" title="Minmimum 6 letters or numbers."  required><br/>
           <input type="password" placeholder="Confirm New Password" value = "" id ="password2" name="password2"class="form-control" onfocus="validatePass(document.getElementById('pass1'), this);" oninput="validatePass(document.getElementById('password1'), this);" pattern=".{6,}" title="Minmimum 6 letters or numbers."  required><br/>
                  
        
         <button class="btn btn-lg btn-primary btn-block" type="submit" value ="login">Submit</button>


 <form>
</div>
<script>
function validatePass(password1, password2) {
    if (password1.value != password2.value || password1.value == '' || password2.value == '') {
        password2.setCustomValidity('Password Do not Match');
    } else {
        password2.setCustomValidity('');
    }
}
</script>

 {% endblock %}


   </body>



</html>





















`	


















