    <!-- Collect the nav links, forms, and other content for toggling -->


      




 <div style="width:600px;"class="container">
{% block content %}
{% if messages %}
                        {% for message in messages %}
    
                           <div align="center" class="alert alert-info alert-dismissable">
                              <h5>{{message|safe}}</h5>
                           </div>
                        {% endfor %}
                     {% endif %}



 <form  class="form-signin" role="form" method="post">{% csrf_token %} 
     
         <h4 class="form-signin-heading">Enter Your Username</h4>
         <input type = "email" name = "username" value = "" id ="password" class="form-control" placeholder="Username" required><br/>

         <button class="btn btn-lg btn-primary btn-block" type="submit" value ="login">Submit</button>
         
 <form>
</div>  

      <div class="foter">
         

 {% endblock %}
   <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>


   </body>



</html>
























